{% load static %}
<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'file_credencial/favicon/favicon.png' %}">

    <title>Olá</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="{% static 'file_credencial/css/bootstrap.min.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron mt-3" style="text-align: center">
        <h1>Olá!</h1>
        <p class="lead">Você irá tem acesso a informações pessoais, e por motivo de segurança preencha o formulario abaixo.</p><br>
        <div class="table">
           <form method="post">
               {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-5">
                  <input name="nome" type="text" class="form-control" placeholder="Nome" required>
                </div>
                <div class="form-group col-md-5">
                  <input name="sobrenome" type="text" class="form-control" placeholder="Sobrenome"required>
                </div>
              </div>
              <div class="form-group">
                <input name="data" type="hidden" class="form-control" value="{{ data }}">
              </div>
              <button class="btn btn-lg btn-primary" type="submit"  role="button"> Vamos lá &raquo;</button>
           </form>
        </div><br><br>
      </div>
    </div>
    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <script src="{% static 'file_credencial/js/popper.min.js' %}"></script>
    <script src="{% static 'file_credencial/js/bootstrap.min.js' %}"></script>
  </body>
</html>
